*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat Alternates', sans-serif;
  background: #ffffff;
}
header{
  padding: 20px;
}

.screen{
  position: relative;

}
.screen video{
  position: absolute;
  
 
  width: 22%;
  
  left: 38%;
  
  
  transform: translate(0%, 64.5%);
  -ms-transform: translate(-50%, -50%);
  

  z-index: -1;


}
.screen2 video{
  position: absolute;
  
 
  width: 16.5%;
  
  left: 41.4%;
  
  
  transform: translate(-5%, 63%);
  -ms-transform: translate(-50%, -50%);
  

  z-index: -1;
}

.tv{
  position: relative;
  

  
  
  width: 100%;
  text-align: center;
  
}

.tv img{
  /*width: 45%;*/
  width: 45%;
  
  

  
  opacity: 1;  
  z-index: 1;
}
.tv .btn-on{
  position: absolute;
  

  top: 51.1%;
  left: 40.55%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: none;
  border: none;
  
  text-align: center;
  text-decoration: none;
  
  
  cursor: pointer;
  
  z-index: 2;
  opacity: 0;
  
}

.tv .btn-on:hover{
  
  width: 60px;
  height: 60px;
  line-height: 18px;
  
  
  
  color: white;
  border: 2px solid white;
  font-size: 12px;
  
  padding: 19px;
  
  border-radius: 50%;
  z-index: 2;
  opacity: 1;
  transition: opacity 0.2s ;
}

.tv .btn-change{
  position: absolute;


  top: 51%;
  left: 57.4%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: none;
  border: none;

  text-decoration: none;
  text-align: center;
  
  
  cursor: pointer;
  
  z-index: 2;
  opacity: 0;
}

.tv .btn-change:hover{
  
  background: none;
  width: 60px; 
  height: 60px;
  color: white;
  border: 2px solid white;
  border-radius: 50%;
  display: flex; /* or inline-flex */
  align-items: center; 
  justify-content: center;

  font-size: 12px;
  
  padding: 19px;

  z-index: 2;
  opacity: 1;
  transition: opacity 0.2s
}




